.dokumentkravList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dokumentkravItem {
  margin-bottom: var(--a-spacing-11);
}

.dokumentkravTitle {
  display: flex;
  justify-content: space-between;
  gap: var(--a-spacing-2);
}

.dokumentkravTag {
  flex-shrink: 0;
}
