**

!src/**
!public/**
!next*
!jest*
!cypress/testData/**

!sentry*
!*.json
!.babelrc
!.sentryclirc
!.npmrc
!.env
!.env.production
!.env.development

!csp.js
!prepare.js
!sanity-client.ts
!triggBygg.md
