*
!assets
!components
!containers
!next.config.js
!package*.json
!pages
!models
!.npmrc
!public
!reducers
!server.js
!.env.production
!tsconfig.json
!__mocks__
!styles.css
!src
public/mockServiceWorker.js
