.alertText p:last-of-type {
  margin-bottom: 0;
}

.alertText p:first-of-type {
  margin-top: 0;
}

.alertTextHeading {
  margin-bottom: var(--a-spacing-3);
}

.spacingTop {
  margin-top: var(--a-spacing-4);
}

.spacingBottom {
  margin-bottom: var(--a-spacing-4);
}
