.documentList > * {
  margin-bottom: var(--navds-spacing-12);
}

.nagivateToMineDagpengerButton {
  margin-top: var(--navds-spacing-8);
}

.dokumentasjonsTextContainer {
  margin: var(--navds-spacing-12) 0;
}
