.seksjonContainer {
  margin-bottom: var(--a-spacing-5);
}

.loaderContainer {
  margin-bottom: var(--a-spacing-5);
}

.autoSaveText {
  display: flex;
  align-items: center;
}

.autoSaveText svg {
  margin-right: var(--a-spacing-1);
}
