.modalContainer {
  max-width: 560px;
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.alertContainer {
  margin: var(--a-spacing-5) 0;
}

.uploadedFilesList {
  margin: 0 0 0 var(--a-spacing-4);
  padding: 0;
}
