.headingContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--navds-spacing-3);
}

.dokumentkrav {
  margin-bottom: var(--navds-spacing-11);
}

.readmoreContainer {
  margin-bottom: var(--navds-spacing-3);
}

.uploadButton {
  margin-top: var(--navds-spacing-3);
}
