.receiptSoknadTilstandHeader {
  display: flex;
  justify-content: space-between;
}

.receiptSoknadTilstandDescription {
  margin-top: var(--navds-spacing-2);
  margin-bottom: var(--navds-spacing-8);
}
