.modalContainer {
  max-width: 560px;
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.alertContainer {
  margin: var(--navds-spacing-5) 0;
}

.uploadedFileList {
  margin: 0 0 0 var(--navds-spacing-4);
  padding: 0;
}
