.container {
  max-width: var(--app-max-width);
  padding: var(--app-padding);
  margin: 0 auto;
}

.body {
  margin-top: var(--navds-spacing-5);
}

.actionButton {
  margin-top: var(--navds-spacing-8);
  margin-bottom: var(--navds-spacing-5);
}
