.barn {
  padding: var(--navds-spacing-4);
  border: 1px solid var(--navds-panel-color-border);
  border-radius: var(--navds-border-radius-medium);
  margin-bottom: var(--navds-spacing-2);
}

.barn button:first-child {
  margin-right: var(--navds-spacing-2);
}

.barn button {
  margin-top: var(--navds-spacing-2);
}
