.seksjonContainer {
  margin-bottom: var(--navds-spacing-5);
}

.loaderContainer {
  margin-bottom: var(--navds-spacing-5);
}

.navigation {
  display: flex;
  margin-top: var(--navds-spacing-9);

  gap: var(--navds-spacing-6);
}

.autoSaveText {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.autoSaveText svg {
  margin-right: var(--navds-spacing-1);
}
