.error {
  background-color: var(--a-orange-50);
  box-shadow: 0 0 0 1px var(--a-orange-600);
  padding: 8px;
}

.error:focus {
  box-shadow: 0 0 0 3px var(--a-orange-600);
}

.errorButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: var(--a-spacing-5);
}

.notFoundPageContainer {
  margin-bottom: var(--a-spacing-8);
}

.pageNotFoundDescription {
  margin-top: var(--a-spacing-2);
  margin-bottom: var(--a-spacing-8);
}
