.card {
  padding: var(--navds-spacing-4);
  background-color: var(--navds-global-color-gray-50);
  border-radius: var(--navds-border-radius-medium);
  margin-bottom: var(--navds-spacing-5);
}

.fakta {
  margin-top: var(--navds-spacing-4);
}

.fakta:empty {
  margin-top: 0;
}

.buttonContainer {
  display: flex;
  align-items: center;
  margin-top: var(--navds-spacing-6)
}

.buttonContainer button:first-child {
  margin-right: var(--navds-spacing-6);
}

.buttonContainer svg {
  margin-right: var(--navds-spacing-2);
}
