.container {
  padding: var(--navds-spacing-4);
  border: 1px solid var(--navds-panel-color-border);
  border-radius: var(--navds-border-radius-medium);
  margin-bottom: var(--navds-spacing-2);
}

.fakta {
  margin-top: var(--navds-spacing-4);
}

.fakta:empty {
  margin-top: 0;
}

.container button:first-child {
  margin-right: var(--navds-spacing-2);
}

.container button {
  margin-top: var(--navds-spacing-2);
}
