.inngangSendDocumentContainer {
  margin-bottom: var(--navds-spacing-8);
  margin-top: var(--navds-spacing-6);
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--navds-spacing-4);
}
