.faktum {
  margin-bottom: var(--navds-spacing-10);
}

.faktum:last-child {
  margin-bottom: 0;
}

.helpTextSpacing {
  margin: 20px 0;
}

.faktumNumber input {
  width: 50%;
}

.faktumDatoWarningSpacing {
  margin-top: var(--navds-spacing-4);
}
