.container {
  margin-bottom: 30px;
  background-color: #f7f7f7;
  padding: 10px 20px;
  border-radius: 15px;
}

.sub-faktum {
  padding: 0;
  margin: auto -20px;
}

.generator-faktum-list {
  border: solid 1px #3b3b3b;
  border-radius: 5px;
}
