.notCompleteTag {
  margin-left: var(--a-spacing-4);
}

.dokumentkrav ul, 
.dokumentkrav ol {
  margin: 0;
  padding: 0;
  list-style: none;
}


.dokumentkrav li {
  margin-bottom: var(--a-spacing-10);
}
