@import "~@navikt/ds-css/dist/index.css";

.modal-container {
  width: 100%;
  max-width: var(--app-max-width);
}

.modal-container__custom-header {
  padding-bottom: 0;
}

.modal-container--error {
  background-color: var(--a-orange-50);
  box-shadow: 0 0 0 1px var(--a-orange-600);
}

.modal-container--error:focus {
  box-shadow: 0 0 0 3px var(--a-orange-600);
}

.modal-container__button-container > *:first-child {
  margin-right: var(--a-spacing-6);
}

.navds-accordion__header.arbeidsforhold__accordion > span:last-of-type {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.generator-faktum__add-button {
  margin: var(--a-spacing-4) 0 var(--a-spacing-1);
}

.my-12 {
  margin: var(--a-spacing-12) 0;
}

.my-11 {
  margin: var(--a-spacing-11) 0;
}

.my-6 {
  margin: var(--a-spacing-6) 0;
}

.my-3 {
  margin: var(--a-spacing-3) 0;
}

.mb-10 {
  margin-bottom: var(--a-spacing-10);
}

.navigation-container {
  display: flex;
  margin-top: var(--a-spacing-9);
  gap: var(--a-spacing-6);
}
