@import "~@navikt/ds-css/dist/index.css";

:root {
  /* // Fiks for at design i appen skal forbli proporsjonalt mens vi migrerer til nye @navikt/ds-react fra designsystemet https://navikt.github.io/Designsystemet/?path=/story/ds-react-typography-intro--page */
  --navds-font-size-title-2xl: 2.2222222222222223rem;
  --navds-font-size-title-xl: 1.7777777777777777rem;
  --navds-font-size-title-l: 1.5555555555555556rem;
  --navds-font-size-title-m: 1.3333333333333333rem;
  --navds-font-size-title-s: 1.1111111111111112rem;
  --navds-font-size-xl: 1.1111111111111112rem;
  --navds-font-size-l: 1rem;
  --navds-font-size-m: 0.8888888888888888rem;
  --navds-font-size-s: 0.7777777777777778rem;
}

.modal-container {
  width: 100%;
  max-width: var(--app-max-width);
  padding: var(--navds-spacing-2);
}

.modal-container--generator {
  padding: var(--navds-spacing-4);
}

.modal-container--error {
  background-color: var(--navds-global-color-orange-50);
  box-shadow: 0 0 0 1px var(--navds-global-color-orange-600);
}

.modal-container--error:focus {
  box-shadow: 0 0 0 3px var(--navds-global-color-orange-600);
}

.modal-container__button-container >*:first-child {
  margin-right: var(--navds-spacing-6);
}

.generator-faktum__add-button {
  margin: var(--navds-spacing-4) 0 var(--navds-spacing-1);
}

.my-8 {
  margin: var(--navds-spacing-11) 0;
}

.navigation-container {
  display: flex;
  margin-top: var(--navds-spacing-9);
  gap: var(--navds-spacing-6);
}
