.fileUploader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed var(--navds-global-color-gray-100);
  border-radius: 4px;
  width: 100%;
  padding: 1rem;
  margin: 2rem 0 1rem 0;
}

.uploadError {
  margin-bottom: var(--navds-spacing-4);
}
