.fileUploader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed var(--navds-global-color-gray-400);
  border-radius: var(--navds-border-radius-medium);
  background-color: var(--navds-global-color-blue-50);
  width: 100%;
  padding: 1rem;
  margin: 2rem 0 1rem 0;
}

.fileUploader p {
  text-align: center;
  margin-bottom: var(--navds-spacing-2);
}

.uploadError {
  margin-bottom: var(--navds-spacing-4);
}

.loadingIndicator {
  text-align: center;
  margin: var(--navds-spacing-4) 0;
}

.withHover {
  display: none;
}

@media (hover: hover) {
  .withHover {
    display: inline;
  }
  .fileUploader button {
    margin-bottom: 1rem
  }
}
