.fileUploader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed var(--a-gray-400);
  border-radius: var(--a-border-radius-medium);
  background-color: var(--a-color-blue-50);
  width: 100%;
  padding: 1rem;
  margin: 2rem 0 1rem 0;
}

.fileUploader p {
  text-align: center;
  margin-bottom: var(--a-spacing-2);
}

.uploadError {
  margin-bottom: var(--a-spacing-4);
}

.loadingIndicator {
  text-align: center;
  margin: var(--a-spacing-4) 0;
}

@media (hover: none) and (pointer: coarse) {
  .hasHover {
    display: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  .fileUploader button {
    margin-bottom: 1rem;
  }
}
