name: Build and deploy

on: [ push ]

env:
  IMAGE: docker.pkg.github.com/${{ github.repository }}/dp-quizshow:${{ github.sha }}
  LATEST_IMAGE: docker.pkg.github.com/${{ github.repository }}/dp-quizshow:latest
  BASE_PATH: /arbeid/dagpenger/quizshow
  IMAGE_CACHE_RUNNER: docker.pkg.github.com/${{ github.repository }}/build-cache-runner
  IMAGE_CACHE_BUILDER: docker.pkg.github.com/${{ github.repository }}/build-cache-builder

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up node
        uses: actions/setup-node@v2
        with:
          node-version: "16.x"
          cache: "npm"
          registry-url: "https://npm.pkg.github.com"

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: |
            ~/.npm
            node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install
        run: npm install --no-save --no-audit --prefer-offline --ignore-scripts

      - name: Test
        run: npm test

  build:
    name: Build and Publish Docker image
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.github.com
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        env:
          DOCKER_BUILDKIT: 1
        run: |
          docker pull ${{ env.IMAGE_CACHE_BUILDER }} || true
          docker pull ${{ env.IMAGE_CACHE_RUNNER }} || true
          docker build . -t ${{ env.IMAGE }} -t ${{ env.LATEST_IMAGE }} \
            --cache-from=${{ env.IMAGE_CACHE_BUILDER }},${{ env.IMAGE_CACHE_RUNNER }} \
            --build-arg BUILDKIT_INLINE_CACHE=1 \
            --build-arg BASE_PATH=${{ env.BASE_PATH }}
          docker push ${{ env.IMAGE }}
          docker push ${{ env.LATEST_IMAGE }}

      - name: Archive NAIS yaml
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v1
        with:
          name: nais-yaml
          path: nais

  update-docker-cache:
    name: Update Docker Cache
    needs: [ build ]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.github.com
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        env:
          DOCKER_BUILDKIT: 1
        run: |
          docker pull ${{ env.IMAGE_CACHE_BUILDER }} || true
          docker build . -t ${{ env.IMAGE_CACHE_BUILDER }} --target builder --build-arg BUILDKIT_INLINE_CACHE=1 --cache-from=${{ env.IMAGE_CACHE_BUILDER }}
          docker push ${{ env.IMAGE_CACHE_BUILDER }}
          docker pull ${{ env.IMAGE_CACHE_RUNNER }} || true
          docker build . -t ${{ env.IMAGE_CACHE_RUNNER }} --target runner --build-arg BUILDKIT_INLINE_CACHE=1 --cache-from=${{ env.IMAGE_CACHE_RUNNER }}
          docker push ${{ env.IMAGE_CACHE_RUNNER }}

  deploy-dev:
    name: Deploy to dev
    needs: [ test, build ]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Fetch NAIS yaml
        uses: actions/download-artifact@v1
        with:
          name: nais-yaml
          path: nais

      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: nais/alerts.yaml,nais/nais.yaml
          VARS: nais/dev/vars.yaml
          PRINT_PAYLOAD: true

  deploy-prod:
    name: Deploy to Production
    needs: [ deploy-dev ]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Fetch NAIS yaml
        uses: actions/download-artifact@v1
        with:
          name: nais-yaml
          path: nais

      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: prod-gcp
          RESOURCE: nais/alerts.yaml,nais/nais.yaml
          VARS: nais/prod/vars.yaml
          PRINT_PAYLOAD: true

#  reportFailure:
#    name: Report build failure to Slack
#    needs: [ test, build ]
#    if: ${{ failure() }}
#    runs-on: ubuntu-latest
#    steps:
#      - run: |
#          curl -X POST --data-urlencode "payload={\"channel\": \"$CHANNEL\", \"username\": \"$USERNAME\", \"text\": \"$MESSAGE\", \"icon_emoji\": \":neutral_face:\"}" $WEBHOOK_URL
#        env:
#          USERNAME: "Github Actions"
#          MESSAGE: "The build is broken!"
#          CHANNEL: "#team-dagpenger-quiz"
#          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
#
