.errorRetryModal {
  background-color: var(--navds-global-color-orange-50);
  box-shadow: 0 0 0 1px var(--navds-global-color-orange-600);
  padding: 8px;
}

.errorRetryModal:focus {
  box-shadow: 0 0 0 3px var(--navds-global-color-orange-600);
}

.errorRetryModalButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: var(--navds-spacing-5);
}
